body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.completed {
  text-decoration: line-through;
}

.todos-list {
  display: flex;
  flex-direction: column-reverse;
}

.todos-list-btn {
  border: none;
  background: none;
}
